body { margin:0px; background-color:#35b834; height:100% }
html { height:100% }
a:link { color:#fff; text-decoration:underline }
a:visited { color:#fff; text-decoration:underline }
a:hover { color:#e6e6e6; text-decoration:underline }
a:active { color:#e6e6e6; text-decoration:underline }
#PageDiv { position:relative; min-height:100% }
#BodyWrapper1 { width:100%; z-index:0; margin-left:auto; margin-right:auto; background-color:#438adf; background-image:url(../Resources/picjumbo.com_img_.jpg); background-position:left; background-size:cover }
#Body1 { width:80%; height:500px; z-index:0; clear:both; padding:20px; margin-left:auto; margin-right:auto; overflow:hidden }
#item1 { width:100%; min-height:100px; z-index:0; margin-top:30px }
#Check { left:0px; top:0px; width:100px; height:100px; float:left; margin-right:20px; margin-bottom:20px }
#item3 { width:100%; min-height:100px; z-index:0; margin-top:50px }
#People { left:0px; top:0px; width:100px; height:100px; float:left; margin-right:20px; margin-bottom:20px }
#item5 { width:100%; min-height:100px; z-index:0; margin-top:50px; margin-bottom:30px }
#Heart { left:0px; top:0px; width:100px; height:100px; float:left; margin-right:20px; margin-bottom:20px }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#FFFFFF; text-decoration:none; background:#E9CB12; padding:40px 20px 40px 20px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#FFFFFF; text-decoration:none; background:#438ADF }
#fwNav1 .fwNavItem a:active { color:#FFFFFF; text-decoration:none; background:#438ADF }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-white.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; background:#438ADF; font-weight:normal }
@media screen and (max-width:768px)
{
	#Body1 { width:90%; height:420px; padding:5% }
}
@media screen and (max-width:750px)
{
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#E94633; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { margin:20px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
