#m2.f-ms { width:100%; z-index:0; overflow:hidden }
#m3.f-ms { position:relative; min-height:63px; max-width:1152px; z-index:0; margin-left:auto; margin-right:auto }
#m5.f-ms { position:absolute; left:0px; top:14px; width:135px; height:37px; z-index:1 }
#nav.f-ms { position:absolute; width:725px; top:11px; right:6px; height:44px; z-index:2 }
#m6.f-ms { min-height:36px; max-width:1152px; z-index:0; margin-left:auto; margin-top:20px; margin-right:auto }
#m7.f-ms { width:330px; height:36px; z-index:0; float:right }
#m8.f-ms { z-index:0; padding-left:2%; padding-top:30px; padding-right:2% }
#m9.f-ms { min-height:100px; max-width:1152px; z-index:0; margin-left:auto; margin-right:auto }
#m10.f-ms { width:60%; z-index:0; float:left; padding-right:2%; margin-bottom:65px }
#m11.f-ms { width:7%; z-index:0; float:left; padding:10px 2%; margin-left:2%; margin-top:85px; border:solid #ff7775 4px }
#m12.f-ms { width:18%; z-index:0; float:right; padding:10px 1%; margin-left:1%; margin-top:85px; border:solid #e3e651 4px }
#m14.f-ms { z-index:0; clear:both; background-color:#527287 }
#m15.f-ms { max-width:100%; overflow:hidden }
#m22.f-ms { min-height:320px; max-width:1100px; z-index:0; padding-bottom:30px; margin-left:auto; margin-top:30px; margin-right:auto }
#m23.f-ms { width:66%; min-height:100px; z-index:0; float:left; padding-top:20px; padding-bottom:20px }
#m24.f-ms { min-height:100px; z-index:0; margin-bottom:30px }
#m25.f-ms { width:47%; min-height:115px; z-index:0; float:left; padding-right:5% }
#m26.f-ms { width:48%; min-height:100px; z-index:0; float:left }
#m27.f-ms { min-height:100px; z-index:0; margin-bottom:30px }
#m28.f-ms { width:47%; min-height:115px; z-index:0; float:left; padding-right:5% }
#m29.f-ms { width:48%; min-height:100px; z-index:0; float:left }
#m30.f-ms { min-height:100px; z-index:0; margin-bottom:30px }
#m31.f-ms { width:47%; min-height:115px; z-index:0; float:left; padding-right:5% }
#m32.f-ms { width:30.28%; z-index:0; float:right; padding-left:2% }
#m33.f-ms { z-index:0; padding:10px 30px; margin-top:20px; border:solid #e3e651 4px }
#m35.f-ms { min-height:119px; max-width:1152px; z-index:0; margin-left:auto; margin-top:30px; margin-right:auto }
#m36.f-ms { left:0px; top:0px; width:135px; height:37px; float:left; margin-left:16px; margin-top:17px }
#m37.f-ms { left:910px; top:15px; width:170px; height:26px; float:right; margin-top:20px; margin-right:20px }
@media screen and (max-width:1200px)
{
	#m3.f-ms { max-width:none; margin-left:2%; margin-right:2% }
	#m6.f-ms { max-width:none; margin-left:2%; margin-right:2% }
	#m35.f-ms { max-width:none }
}
@media screen and (max-width:885px)
{
	#m6.f-ms { max-width:885px }
	#m9.f-ms { max-width:850px }
	#m10.f-ms { width:auto; min-height:212px; float:none; padding-left:5%; padding-right:5%; margin-bottom:0px; text-align:center }
	#m11.f-ms { width:50%; float:none; margin-left:auto; margin-top:0px; margin-right:auto }
	#m12.f-ms { width:50%; float:none; clear:right; margin:20px auto 65px }
	#m22.f-ms { max-width:849px }
	#m35.f-ms { max-width:850px }
}
@media screen and (max-width:810px)
{
	#nav.f-ms { top:16px; right:15px; width:280px; height:34px; font-size:1em }
	#m6.f-ms { max-width:810px }
	#m9.f-ms { max-width:778px }
	#m10.f-ms { min-height:0px; padding-bottom:30px }
	#m22.f-ms { max-width:778px }
	#m23.f-ms { width:auto; float:none }
	#m30.f-ms { margin-bottom:0px }
	#m32.f-ms { width:auto; float:none }
	#m33.f-ms { width:50%; margin-left:auto; margin-right:auto }
	#m35.f-ms { max-width:778px }
}
@media screen and (max-width:667px)
{
	#m6.f-ms { max-width:568px }
	#m9.f-ms { min-height:0px; max-width:546px }
	#m15.f-ms { margin-bottom:2% }
	#m22.f-ms { max-width:545px }
	#m33.f-ms { width:auto }
	#m35.f-ms { width:172px; min-height:100px; max-width:none; margin-top:0px }
	#m36.f-ms { float:none; margin-left:0px; margin-top:0px }
	#m37.f-ms { float:none; margin-top:0px; margin-right:0px }
}
@media screen and (max-width:460px)
{
	#m6.f-ms { max-width:442px }
	#m9.f-ms { max-width:442px }
	#m11.f-ms { width:49.93% }
	#m12.f-ms { width:49.93% }
	#m22.f-ms { max-width:442px }
	#m25.f-ms { width:46.68% }
	#m26.f-ms { width:47.67% }
	#m28.f-ms { width:46.68% }
	#m29.f-ms { width:47.67% }
	#m31.f-ms { width:46.68% }
}
@media screen and (max-width:375px)
{
	#m6.f-ms { max-width:375px }
	#m9.f-ms { max-width:360px }
	#m22.f-ms { max-width:360px }
}
