body { margin:0px; background-color:#313040; height:100% }
html { height:100% }
a:link { color:#008048; text-decoration:underline }
a:visited { color:#008048; text-decoration:underline }
a:hover { color:#57bf7c; text-decoration:underline }
a:active { color:#57bf7c; text-decoration:underline }
#FooterBox1 a:link { color:#ccc; text-decoration:none }
#FooterBox1 a:visited { color:#ccc; text-decoration:none }
#FooterBox1 a:hover { color:#008048; text-decoration:none }
#FooterBox1 a:active { color:#008048; text-decoration:none }
#BackToTop a:link { color:#ccc; text-decoration:none }
#BackToTop a:visited { color:#ccc; text-decoration:none }
#BackToTop a:hover { color:#008048; text-decoration:none }
#BackToTop a:active { color:#008048; text-decoration:none }
#PageDiv { position:relative; min-height:100% }
#Body1.f-ms { overflow:visible }
#Box2 { width:58%; z-index:0; float:left; clear:left; padding-top:10px; padding-bottom:10px; margin-left:5%; overflow:visible }
#ImageWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#profle { width:64px; overflow:hidden }
#TitleWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#TextWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Box3 { width:28%; z-index:0; float:left; clear:right; padding-top:10px; padding-bottom:10px; margin-left:4%; margin-right:5%; overflow:visible }
#ImageWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#chat { width:64px; overflow:hidden }
#TitleWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#TextWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Body2.f-ms { overflow:visible }
#Box1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#ImageWrapper { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#People { width:125px; overflow:hidden }
#TitleWrapper { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#CompanyFacesWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person1 { width:25%; z-index:0; float:left; clear:left; overflow:visible }
#PersonImageWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Personbig { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person2 { width:25%; z-index:0; float:left; overflow:visible }
#PersonImageWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person2big { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person3 { width:25%; z-index:0; float:left; overflow:visible }
#PersonImageWrapper3 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Personbig2 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper3 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person4 { width:25%; z-index:0; float:left; clear:right; overflow:visible }
#PersonImageWrapper4 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person2big1 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper4 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person5 { width:25%; z-index:0; float:left; clear:left; overflow:visible }
#PersonImageWrapper5 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person2big2 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper5 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person6 { width:25%; z-index:0; float:left; overflow:visible }
#PersonImageWrapper6 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Personbig1 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper6 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person7 { width:25%; z-index:0; float:left; overflow:visible }
#PersonImageWrapper7 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person2big3 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper7 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Person8 { width:25%; z-index:0; float:left; clear:right; overflow:visible }
#PersonImageWrapper8 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#Personbig3 { width:125px; max-width:100%; overflow:hidden }
#PersonTitleWrapper8 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; overflow:visible }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left }
#fwNav1 .fwNavItem a { display:block; color:#313040; text-decoration:none; padding:8px 8px 8px 8px }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#008048; text-decoration:none }
#fwNav1 .fwNavItem a:active { color:#008048; text-decoration:none }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url(../Resources/menu-1-black1.png); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#57BF7C }
* html #fwNav1 { float:left }
* html #fwNav1 .fwNavItem a { float:left; height:1% }
@media screen and (max-width:980px)
{
	#Box1 { width:105.88% }
}
@media screen and (max-width:750px)
{
	#Box2 { width:90%; margin-right:5% }
	#Box3 { width:90%; margin-left:5%; margin-top:5% }
	#Person1 { width:50% }
	#Person2 { width:50%; clear:right }
	#Person3 { width:50%; clear:left }
	#Person4 { width:50% }
	#Person5 { width:50% }
	#Person6 { width:50%; clear:right }
	#Person7 { width:50%; clear:left }
	#Person8 { width:50% }
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#F5F5F5; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { float:none; overflow:hidden; width:100% }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-left:20px; padding-right:20px }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	#fwNav1 .fwLastChild a { padding-bottom:20px }
	.fwNav1-toggle-close { background-image:url(../Resources/menu-close-black.png); margin:20px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
@media screen and (max-width:540px)
{
	#Box1 { width:100% }
}
