body { margin:0px; background-color:#191919; height:100% }
html { height:100% }
a:link { color:#fff }
a:visited { color:#b3b3b3 }
a:hover { color:#ffb72b }
a:active { color:#f75e17 }
#m1 a:link { color:#fff; text-decoration:none }
#m1 a:visited { color:#fff; text-decoration:none }
#m1 a:hover { color:#ffb72b; text-decoration:none }
#m1 a:active { color:#ffb72b; text-decoration:none }
#Body1 a:link { color:#333; text-decoration:underline }
#Body1 a:visited { color:#333; text-decoration:underline }
#Body1 a:hover { color:#ffb72b; text-decoration:underline }
#Body1 a:active { color:#ffb72b; text-decoration:underline }
#Body2 a:link { color:#333; text-decoration:underline }
#Body2 a:visited { color:#333; text-decoration:underline }
#Body2 a:hover { color:#ffb72b; text-decoration:underline }
#Body2 a:active { color:#ffb72b; text-decoration:underline }
#Footer a:link { color:#fff; text-decoration:underline }
#Footer a:visited { color:#fff; text-decoration:underline }
#Footer a:hover { color:#ffb72b; text-decoration:underline }
#Footer a:active { color:#ffb72b; text-decoration:underline }
#PageDiv { position:relative; min-height:100% }
#MapText { width:30%; z-index:0; float:right; padding-top:20px; padding-bottom:20px; margin-top:3%; margin-bottom:3% }
#MapWrapper { width:650px; z-index:0; float:left }
#GoogleMap { width:98%; height:444px; vertical-align:middle; margin-top:3%; margin-bottom:3%; border:solid #000 3px; display:inline-block }
#Name1 { width:48%; vertical-align:middle; padding:1%; background-color:#f5f5f5; border:solid #ccc 1px }
#Email1 { width:48%; padding:1%; background-color:#f5f5f5; border:solid #ccc 1px }
#Telephone1 { width:48%; padding:1%; background-color:#f5f5f5; border:solid #ccc 1px }
#Subject1 { width:48%; padding:1%; background-color:#f5f5f5; border:solid #ccc 1px }
#Message1 { width:48%; height:120px; padding:1%; background-color:#f5f5f5; border:solid #ccc 1px }
#Send1 { width:21%; padding:2%; background-color:#f5f5f5; border:solid #ccc 1px }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#FFFFFF; text-decoration:none; background:#191919; padding:20px 40px 20px 40px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#FFFFFF; text-decoration:none; background:#FFB72B }
#fwNav1 .fwNavItem a:active { color:#FFFFFF; text-decoration:none; background:#FFB72B }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-white.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; background:#FFB72B; font-weight:normal }
@media screen and (max-width:768px)
{
	#MapText { width:85%; float:none; clear:both; margin-left:auto; margin-right:auto }
	#MapWrapper { width:100%; float:none; clear:both; margin-left:auto; margin-right:auto }
	#GoogleMap { width:95% }
	#Name1 { width:80% }
	#Email1 { width:80% }
	#Telephone1 { width:80% }
	#Subject1 { width:80% }
	#Message1 { width:80%; height:auto }
	#Send1 { width:30% }
	.fwNavContainer1 { display:none; position:fixed; width:100%; top:0; right:0; bottom:100%; left:0; margin-top:-100%; background-color:#191919; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out margin, .2s ease-out bottom; -moz-transition:.2s ease-out margin, .2s ease-out bottom; -ms-transition:.2s ease-out margin, .2s ease-out bottom; -o-transition:.2s ease-out margin, .2s ease-out bottom; transition:.2s ease-out margin, .2s ease-out bottom }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { margin:20px auto 20px auto }
	.fwNavContainer1.fwMenuOn { margin-top:0; bottom:0 }
}
