body { margin:0px; background-color:#191919; height:100% }
html { height:100% }
#Body a:link { color:#e6e6e6; text-decoration:underline }
#Body a:visited { color:#e6e6e6; text-decoration:underline }
#Body a:hover { color:#409f5b; text-decoration:underline }
#Body a:active { color:#409f5b; text-decoration:underline }
#Footer a:link { color:#fff; text-decoration:none }
#Footer a:visited { color:#fff; text-decoration:none }
#Footer a:hover { color:#409f5b }
#Footer a:active { color:#409f5b }
#PageDiv { position:relative; min-height:100% }
#Body { max-width:1040px; z-index:0; clear:both; padding:30px; margin-left:auto; margin-right:auto }
#BodyContentWrapper1 { z-index:0 }
#Box1 { position:relative; width:45%; z-index:0; float:left }
#Box1_m { position:relative; margin:0px; background-image:url(../Resources/box1.png); background-position:left top; background-repeat:repeat; background-attachment:scroll }
#Box1ImageWrapper3 { width:100%; z-index:0 }
#photo124820060308rotate { width:460px; max-width:98.29%; border:solid #fff 4px; overflow:hidden }
#Box1TextWrapper3 { z-index:0; padding:5% }
#Box2 { position:relative; width:45%; z-index:0; float:right }
#Box2_m { position:relative; margin:0px; background-image:url(../Resources/box1.png); background-position:left top; background-repeat:repeat; background-attachment:scroll }
#Box1ImageWrapper4 { width:100%; z-index:0 }
#Hcomp { width:460px; max-width:98.29%; border:solid #fff 4px; overflow:hidden }
#Box1TextWrapper4 { z-index:0; padding:5% }
#BodyContentWrapper2 { width:100%; z-index:0; margin-top:40px }
#Box3 { position:relative; width:30%; z-index:0; float:left }
#Box3_m { position:relative; margin:0px; background-image:url(../Resources/box1.png); background-position:left top; background-repeat:repeat; background-attachment:scroll }
#Box1ImageWrapper1 { width:100%; z-index:0 }
#Yl43jGrjSwi4bKJBOjkINZ14265of589comp { width:304px; max-width:97.44%; border:solid #fff 4px; overflow:hidden }
#Box1TextWrapper1 { z-index:0; padding:5% }
#Box4 { position:relative; width:30%; z-index:0; float:left; margin-left:5% }
#Box4_m { position:relative; margin:0px; background-image:url(../Resources/box1.png); background-position:left top; background-repeat:repeat; background-attachment:scroll }
#Box1ImageWrapper2 { width:100%; z-index:0 }
#photo139820060410 { width:304px; max-width:97.44%; border:solid #fff 4px; overflow:hidden }
#Box1TextWrapper2 { z-index:0; padding:5% }
#Box5 { position:relative; width:30%; z-index:0; float:left; margin-left:5% }
#Box5_m { position:relative; margin:0px; background-image:url(../Resources/box1.png); background-position:left top; background-repeat:repeat; background-attachment:scroll }
#Box1ImageWrapper5 { width:100%; z-index:0 }
#HH { width:304px; max-width:97.44%; border:solid #fff 4px; overflow:hidden }
#Box1TextWrapper5 { z-index:0; padding:5% }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-right:1px solid #378950; border-top:0; border-bottom:0; border-left:0 }
#fwNav1 .fwNavItem a { display:block; color:#FFFFFF; text-decoration:none; background:#46B465; padding:30px 40px 30px 40px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#FFFFFF; text-decoration:none; background:#409F5B }
#fwNav1 .fwNavItem a:active { color:#FFFFFF; text-decoration:none; background:#409F5B }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-md-%402x.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; background:#378950; font-weight:normal }
@media screen and (max-width:768px)
{
	#Body { max-width:708px }
	#Box1 { width:auto; float:none; margin-bottom:20px }
	#Box1ImageWrapper3 { width:auto }
	#photo124820060308rotate { max-width:50%; margin-top:20px }
	#Box2 { width:auto; float:none; margin-bottom:20px }
	#Box1ImageWrapper4 { width:auto }
	#Hcomp { max-width:50%; margin-top:20px }
	#Box3 { width:auto; float:none; margin-bottom:20px }
	#Box1ImageWrapper1 { width:auto }
	#Yl43jGrjSwi4bKJBOjkINZ14265of589comp { max-width:50%; margin-top:20px }
	#Box4 { width:auto; float:none; margin-left:0px; margin-bottom:20px }
	#Box1ImageWrapper2 { width:auto }
	#photo139820060410 { max-width:50%; margin-top:20px }
	#Box5 { width:auto; float:none; margin-left:0px; margin-bottom:20px }
	#Box1ImageWrapper5 { width:auto }
	#HH { max-width:50%; margin-top:20px }
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#1E1E1E; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-bottom:1px solid #378950; border-right:0; border-top:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:30px; padding-bottom:30px; padding-left:28px; padding-right:28px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { margin:20px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
@media screen and (max-width:480px)
{
	#Body { max-width:461px; padding:2% }
}
@media screen and (max-width:320px)
{
	#Body { max-width:307px }
}
