form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
.f-cf:before,.f-cf:after { content:" "; display:table }
.f-cf { _zoom:1 }
.f-cf:after { clear:both }
blockquote { font-family:Montserrat; font-size:17px; margin-left:20px; margin-right:20px; background-color:rgba(255,255,255,0.2); padding:14px; border:solid 1px rgba(0,0,0,0.1) }
em { font-style:italic }
h1 { color:#fff; font-family:Montserrat; font-size:40px; text-transform:uppercase; text-align:center; font-weight:normal }
h1:first-child { margin-top:0px }
h2 { color:#fff; font-family:Montserrat; font-size:20px; text-transform:uppercase; text-align:center; margin-bottom:20px; font-weight:normal }
h2:first-child { margin-top:0px }
h3 { color:#fff; font-family:Montserrat; font-size:18px; text-transform:none; font-variant:normal; text-align:center; margin-bottom:16px; font-weight:normal }
h3:first-child { margin-top:0px }
input:focus, textarea:focus { background-color:#e4535a; outline:none; border:1px solid rgba(255,255,255,0.7) !important }
strong { font-weight:bold }
.highlight { color:#a7c5bd }
.logotail { color:#eb7b59 }
.center { text-align:center }
.darken { color:#524656 }
.body { color:#fff; font-family:Montserrat; font-size:17px; line-height:24px }
.lighten { color:#fff }
.bodycenter { color:#fff; font-family:Montserrat; font-size:17px; text-align:center }
.bodysmall { font-size:14px }
.button { color:#524656; font-family:Montserrat; font-size:17px }
.logo { color:#524656; font-family:Montserrat; font-size:40px }
.navigation { font-family:Montserrat; text-transform:uppercase }
