body { margin:0px; background-color:#333; height:100% }
html { height:100% }
#Body1 a:link { color:#4c6075; text-decoration:underline }
#Body1 a:visited { color:#4c6075; text-decoration:underline }
#Body1 a:hover { color:#93b2ff; text-decoration:underline }
#Body1 a:active { color:#93b2ff; text-decoration:underline }
#Body2 a:link { color:#4c6075; text-decoration:underline }
#Body2 a:visited { color:#4c6075; text-decoration:underline }
#Body2 a:hover { color:#93b2ff; text-decoration:underline }
#Body2 a:active { color:#93b2ff; text-decoration:underline }
#Footer a:link { color:#e6e6e6; text-decoration:none }
#Footer a:visited { color:#e6e6e6; text-decoration:none }
#Footer a:hover { color:#93b2ff; text-decoration:none }
#Footer a:active { color:#93b2ff; text-decoration:none }
#PageDiv { position:relative; min-height:100% }
#FormWrapper { width:100%; min-height:100px; z-index:0 }
#Name { width:56.93%; height:9px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#Email { width:56.93%; height:9px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#Telephone { width:56.93%; height:9px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#HeardFrom { width:56.93%; height:9px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#Subject { width:56.93%; height:9px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#Message { width:56.93%; height:139px; padding:1%; margin-bottom:10px; background-color:#fff; border:solid #ccc 1px }
#Send { width:20.08%; padding:1%; margin-right:1%; background-color:#fff; border:solid #ccc 1px }
#MapWrapper { position:relative; width:100%; height:300px; z-index:0; margin-left:auto; margin-right:auto; background-color:#f5f5f5; border-top:solid #e6e6e6 3px }
#Map { position:absolute; left:0px; top:0px; width:100%; height:300px; z-index:1 }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#333333; text-decoration:none; padding:5px 6px 5px 6px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#93B2FF; text-decoration:none }
#fwNav1 .fwNavItem a:active { color:#93B2FF; text-decoration:none }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-black.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#93B2FF; font-weight:normal }
@media screen and (max-width:768px)
{
	#Name { width:95%; height:20px }
	#Email { width:95%; height:20px }
	#Telephone { width:95%; height:20px }
	#HeardFrom { width:95%; height:20px }
	#Subject { width:95%; height:20px }
	#Message { width:95%; height:150px }
	#Send { width:35%; height:40px }
}
@media screen and (max-width:480px)
{
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#F5F5F5; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:40px; padding-bottom:40px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { background-image:url('../Resources/menu-close-black.png'); margin:40px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
@media screen and (max-width:320px)
{
	#FormWrapper { min-height:417px }
	#Name { width:90% }
}
