#main.f-ms { z-index:0; margin-left:300px }
#hero.f-ms { z-index:0; clear:both; padding-bottom:10px; margin-left:2.5%; margin-top:30px; margin-right:2.5% }
#web.f-ms { width:60%; float:left; margin-right:20px; margin-bottom:20px }
#featurette1.f-ms { width:19%; float:left; clear:left; margin-bottom:10px }
#featurette2.f-ms { width:19%; float:left; margin-left:1.5%; margin-bottom:10px }
#featurette3.f-ms { width:19%; float:left; margin-left:1.5%; margin-right:20px; margin-bottom:10px }
#footer.f-ms { z-index:0; clear:both; padding:10px; margin-left:300px }
#fixed-sidebar.f-ms { position:fixed; left:0px; top:0px; width:300px; min-height:100%; z-index:1; background-color:#4fc3a0 }
#title.f-ms { min-height:48px; z-index:0; padding:20px 30px }
#title-small.f-ms { min-height:48px; z-index:0; padding:20px 30px; display:none }
#nav.f-ms { min-height:352px; z-index:0 }
@media screen and (max-width:1600px)
{
	#web.f-ms { width:100%; margin-right:0px }
	#featurette1.f-ms { width:32% }
	#featurette2.f-ms { width:32%; margin-left:2% }
	#featurette3.f-ms { width:32%; margin-left:2%; margin-right:0px }
	#fixed-sidebar.f-ms { height:90.41% }
}
@media screen and (max-width:1200px)
{
	#web.f-ms { margin-bottom:14px }
	#fixed-sidebar.f-ms { height:91.29% }
}
@media screen and (max-width:768px)
{
	#main.f-ms { margin-left:48px }
	#footer.f-ms { margin-left:48px }
	#fixed-sidebar.f-ms { width:48px; height:100% }
	#title.f-ms { display:none }
	#title-small.f-ms { min-height:0px; padding:10px; display:block }
	#nav.f-ms { margin-left:8px; margin-right:10px }
}
@media screen and (max-width:667px)
{
	#hero.f-ms { margin-top:15px; margin-bottom:15px }
	#fixed-sidebar.f-ms { height:87.06% }
}
@media screen and (max-width:375px)
{
	#featurette1.f-ms { width:100%; float:none; clear:none }
	#featurette2.f-ms { width:100%; float:none; margin-left:0px }
	#featurette3.f-ms { width:100%; float:none; margin-left:0px }
	#fixed-sidebar.f-ms { height:93.51% }
}
