body { margin:0px; background-color:#fff; height:100% }
html { height:100% }
a:link { color:#333 }
a:visited { color:#333 }
a:hover { color:#4982ad }
a:active { color:#4982ad }
#PageDiv { position:relative; min-height:100% }
#FourPieceBandWrap { width:100%; z-index:0; float:left; clear:both; margin-bottom:50px }
#Content2 { width:20%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:4%; background-color:#fff }
#BlankPerson1 { width:100px; max-width:100%; overflow:hidden }
#Content1 { width:20%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:4%; background-color:#fff }
#BlankPerson2 { width:100px; max-width:100%; overflow:hidden }
#Content3 { width:20%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:4%; background-color:#fff }
#BlankPerson3 { width:100px; max-width:100%; overflow:hidden }
#Content4 { width:20%; min-height:79px; z-index:0; float:left; padding:1%; background-color:#fff }
#BlankPerson4 { width:100px; max-width:100%; overflow:hidden }
#FivePieceBandWrap { width:100%; z-index:0; float:left; margin-bottom:50px }
#Content8 { width:16%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:2.5%; background-color:#fff }
#BlankPerson6 { width:100px; max-width:100%; overflow:hidden }
#Content11 { width:16%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:2.5%; background-color:#fff }
#BlankPerson9 { width:100px; max-width:100%; overflow:hidden }
#Content12 { width:16%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:2.5%; background-color:#fff }
#BlankPerson10 { width:100px; max-width:100%; overflow:hidden }
#Content13 { width:16%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:2.5%; background-color:#fff }
#BlankPerson11 { width:100px; max-width:100%; overflow:hidden }
#Content14 { width:16%; min-height:79px; z-index:0; float:left; padding:1%; background-color:#fff }
#BlankPerson12 { width:100px; max-width:100%; overflow:hidden }
#ThreePieceBandWrap { width:100%; z-index:0; float:left; margin-bottom:50px }
#Content7 { width:28%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:5%; background-color:#fff }
#BlankPerson5 { width:100px; max-width:100%; overflow:hidden }
#Content9 { width:28%; min-height:79px; z-index:0; float:left; padding:1%; margin-right:5%; background-color:#fff }
#BlankPerson7 { width:100px; max-width:100%; overflow:hidden }
#Content10 { width:28%; min-height:79px; z-index:0; float:left; padding:1%; background-color:#fff }
#BlankPerson8 { width:100px; max-width:100%; overflow:hidden }
#Body2 { width:86%; z-index:0; clear:both; padding:2%; margin-left:auto; margin-right:auto }
#Content5 { width:45%; min-height:79px; z-index:0; float:left; padding:1%; background-color:#fff }
#photo1064920090502 { max-width:50%; float:left; margin-right:10px; margin-bottom:10px; background-color:#4982ad }
#Content6 { width:45%; min-height:79px; z-index:0; float:right; padding:1%; background-color:#fff }
#Album1 { width:100%; min-height:100px; z-index:0; float:left; clear:both; margin-bottom:10px }
#Ht { width:116px; max-width:25%; float:left; margin-right:10px; background-color:#4982ad }
#Album2 { width:100%; min-height:100px; z-index:0; float:left; clear:both; margin-bottom:10px }
#Ht1 { width:116px; max-width:25%; float:left; margin-right:10px; background-color:#4982ad }
#Album3 { width:100%; min-height:100px; z-index:0; float:left; clear:both; margin-bottom:10px }
#Ht2 { width:116px; max-width:25%; float:left; margin-right:10px; background-color:#4982ad }
#Menu { height:auto; overflow:visible; position:relative }
#fwNav1 { float:right; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#000000; text-decoration:none; background:#FFFFFF; padding:20px 23px 20px 23px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#000000; text-decoration:none; background:#5C9DC4 }
#fwNav1 .fwNavItem a:active { color:#000000; text-decoration:none; background:#5C9DC4 }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-black.png'); background-repeat:no-repeat; background-size:100%; float:right }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; background:#4982AD; font-weight:normal }
@media screen and (max-width:768px)
{
	#Content2 { width:98%; margin-right:0px }
	#Content1 { width:98%; margin-right:0px }
	#Content3 { width:98%; margin-right:0px }
	#Content4 { width:98% }
	#Content8 { width:98%; margin-right:0px }
	#Content11 { width:98%; margin-right:0px }
	#Content12 { width:98%; margin-right:0px }
	#Content13 { width:98%; margin-right:0px }
	#Content14 { width:98% }
	#Content7 { width:98%; margin-right:0px }
	#Content9 { width:98%; margin-right:0px }
	#Content10 { width:98% }
	#Content5 { width:98%; margin-bottom:50px }
	#Content6 { width:98%; float:left }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNavContainer1 { display:none; position:fixed; width:100%; top:0; right:0; bottom:0; left:100%; margin-right:-100%; background-color:#333333; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out margin, .2s ease-out left; -moz-transition:.2s ease-out margin, .2s ease-out left; -ms-transition:.2s ease-out margin, .2s ease-out left; -o-transition:.2s ease-out margin, .2s ease-out left; transition:.2s ease-out margin, .2s ease-out left }
	.fwNav1-toggle-close { background-image:url('../Resources/menu-close-white.png'); margin:15px 20px 20px 20px }
	.fwNavContainer1.fwMenuOn { margin-right:0; left:0 }
}
@media screen and (max-width:667px)
{
	#Content2 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content1 { width:92%; min-height:228px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content3 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content4 { width:92%; min-height:268px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content8 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content11 { width:92%; min-height:228px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content12 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content13 { width:92%; min-height:268px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content14 { margin-left:auto; margin-right:auto }
	#Content7 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content9 { width:92%; min-height:248px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content10 { width:92%; min-height:268px; float:none; padding:4%; margin-left:auto; margin-right:auto }
	#Content5 { width:91.9%; min-height:658px; padding:4% }
	#photo1064920090502 { max-width:99%; float:none; margin-left:auto; margin-right:auto }
	#Content6 { width:91.9%; min-height:463px; padding:4%; margin-bottom:40px }
}
