form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
.f-cf:before,.f-cf:after { content:" "; display:table }
.f-cf { _zoom:1 }
.f-cf:after { clear:both }
em { font-style:italic }
h1 { color:#4c4c4c; font-family:'PT Sans', Helvetica, sans-serif; font-size:50px; text-transform:uppercase }
h1:first-child { margin-top:0px }
h2 { color:#333; font-family:'PT Sans', Helvetica, sans-serif; font-size:24px }
h2:first-child { margin-top:0px }
h3 { color:#333; font-family:'PT Sans', Helvetica, sans-serif; font-size:20px }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.BigTitle { color:#4c4c4c; font-family:'PT Sans', Helvetica, sans-serif; font-size:50px; text-transform:uppercase }
.BigSubtitle { color:#7dc685; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:20px }
.AlignRight { text-align:right }
.AlignCenter { text-align:center }
.CSSMenu { font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:14px; text-align:center }
h2.center { color:#333; font-family:'PT Sans', Helvetica, sans-serif; font-size:24px; text-align:center }
h2:first-child { margin-top:0px }
.PageContentCenter { color:#4c4c4c; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:14px; line-height:24px; text-align:center }
h3.center { color:#333; font-family:'PT Sans', Helvetica, sans-serif; font-size:20px; text-align:center }
h3:first-child { margin-top:0px }
.PageContent { color:#4c4c4c; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:14px; line-height:24px }
.Footer { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:16px }
.fullwidthbackground { background-size:cover }
.EyeCatching { color:#4c4c4c; font-family:'PT Sans', Helvetica, sans-serif; font-size:30px; text-transform:uppercase }
.FormItemCenterAlign { color:#000; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:16px; text-align:center }
.FormItemLeftAlign { color:#000; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:16px }
