body { margin:0px; background-image:url(../Resources/picjumbo.com_img_.jpg); background-attachment:fixed; height:100% }
html { height:100% }
a:link { color:#4c4c4c; text-decoration:underline }
a:visited { color:#4c4c4c; text-decoration:underline }
a:hover { color:#8e44ad; text-decoration:underline }
a:active { color:#8e44ad; text-decoration:underline }
#PageDiv { position:relative; min-height:100% }
#Header { width:80%; z-index:0; clear:both; padding:2%; margin-left:auto; margin-right:auto; background-color:#fff }
#Body1 { width:80%; z-index:0; clear:both; padding:2%; margin-left:auto; margin-right:auto; background-color:#f5f5f5; border-top:ridge #ccc 5px }
#PageTitle { width:100%; z-index:0; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto; border-bottom:solid #ccc 1px }
#AllProducts { width:90%; z-index:0; padding-top:20px; padding-bottom:20px; margin-left:5%; margin-right:5% }
#ProductsWrapper1 { width:100%; z-index:0; clear:both; margin-left:auto; margin-right:auto }
#Product1 { width:45%; z-index:0; float:left; clear:left; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG1804 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton1 { left:5px; top:314px; width:auto; height:auto; vertical-align:super; max-width:100% }
#Product2 { width:45%; z-index:0; float:right; clear:right; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG8687 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton2 { left:5px; top:314px; width:auto; height:auto; vertical-align:super; max-width:100% }
#ProductsWrapper2 { width:100%; z-index:0; margin-left:auto; margin-top:60px; margin-right:auto }
#Product3 { width:45%; z-index:0; float:left; clear:left; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG8735 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton3 { left:5px; top:242px; width:auto; height:auto; max-width:100% }
#Product4 { width:45%; z-index:0; float:right; clear:right; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG9857 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton4 { left:5px; top:314px; width:auto; height:auto; max-width:100% }
#ProductsWrapper3 { width:100%; z-index:0; margin-left:auto; margin-top:60px; margin-right:auto }
#Product5 { width:45%; z-index:0; float:left; clear:left; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG9868 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton5 { left:5px; top:242px; width:auto; height:auto; max-width:100% }
#Product6 { width:45%; z-index:0; float:right; clear:right; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG9870 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton6 { left:5px; top:314px; width:auto; height:auto; max-width:100% }
#ProductsWrapper4 { width:100%; z-index:0; margin-left:auto; margin-top:60px; margin-right:auto }
#Product7 { width:45%; z-index:0; float:left; clear:left; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG9877 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton7 { left:5px; top:242px; width:auto; height:auto; max-width:100% }
#Product8 { width:45%; z-index:0; float:right; clear:right; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG1 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton8 { left:5px; top:314px; width:auto; height:auto; max-width:100% }
#ProductsWrapper5 { width:100%; z-index:0; margin-left:auto; margin-top:60px; margin-right:auto }
#Product9 { width:45%; z-index:0; float:left; clear:left; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG2 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton9 { left:5px; top:242px; width:auto; height:auto; max-width:100% }
#Product10 { width:45%; z-index:0; float:right; clear:right; padding-bottom:20px; border-bottom:solid #ccc 1px }
#picjumbocomIMG3 { left:0px; top:0px; width:139px; height:199px; float:left; margin-right:15px }
#ProductButton10 { left:5px; top:314px; width:auto; height:auto; max-width:100% }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#333333; text-decoration:none; padding:25px 25px 5px 25px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#8E44AD; text-decoration:none }
#fwNav1 .fwNavItem a:active { color:#8E44AD; text-decoration:none }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-black.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#9B59B6; font-weight:normal }
@media screen and (max-width:768px)
{
	#Product1 { width:100%; clear:both }
	#Product2 { width:100%; margin-top:5% }
	#ProductsWrapper2 { margin-top:5% }
	#Product3 { width:100% }
	#Product4 { width:100%; margin-top:5% }
	#ProductsWrapper3 { margin-top:5% }
	#Product5 { width:100% }
	#Product6 { width:100%; margin-top:5% }
	#ProductsWrapper4 { margin-top:5% }
	#Product7 { width:100% }
	#Product8 { width:100%; margin-top:5% }
	#ProductsWrapper5 { margin-top:5% }
	#Product9 { width:100% }
	#Product10 { width:100%; margin-top:5% }
}
@media screen and (max-width:480px)
{
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#F5F5F5; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { margin:20px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
