form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
.f-cf:before,.f-cf:after { content:" "; display:table }
.f-cf { _zoom:1 }
.f-cf:after { clear:both }
em { font-style:italic }
h1 { color:#000; font-family:'Oswald',Helvetica,sans-serif; font-weight: 300;; font-size:20px; text-align:center }
h1:first-child { margin-top:0px }
h2 { font-weight:bold; font-size:16px }
h2:first-child { margin-top:0px }
h3 { font-weight:bold; font-size:14px }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.CenterAlign { text-align:center }
.LogoTitle { color:#fff; font-family:'Oswald',Helvetica,sans-serif; font-weight: 300;; font-size:55px }
.Shadow { text-shadow:0.057em 0.057em 1.6px #000 }
.SmallLogo { color:#fff; font-family:'Oswald',Helvetica,sans-serif; font-weight: 300;; font-size:40px }
.Menu { font-family:'Oswald',Helvetica,sans-serif; font-weight: 300;; font-size:18px; text-align:center }
.PageContent { color:#666; font-family:'Open Sans',Helvetica,sans-serif; font-weight: 300;; font-size:16px; word-spacing:1.92px; line-height:1.75; text-align:left }
.Footer { color:#fff; font-family:'Oswald',Helvetica,sans-serif; font-weight: 300;; font-size:20px }
.Underlined { text-decoration:underline }
.CenteredContent { color:#666; font-family:'Open Sans',Helvetica,sans-serif; font-weight: 300;; font-size:16px; word-spacing:1.92px; line-height:1.75; text-align:center }
.FormItem { color:#666; font-family:'Open Sans',Helvetica,sans-serif; font-weight: 300;; font-size:16px; text-align:center }
.style2 { color:#f0f }
