form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
.f-cf:before,.f-cf:after { content:" "; display:table }
.f-cf { _zoom:1 }
.f-cf:after { clear:both }
em { font-style:italic }
h1 { color:#47565a; font-family:Lato, sans-serif; font-weight: 900; font-size:44px; word-spacing:5.28px; line-height:1.3; margin-top:0px; margin-bottom:10px }
h1:first-child { margin-top:0px }
h2 { color:#47565a; font-family:Lato, sans-serif; font-weight: 900; font-size:18px; word-spacing:2.16px; line-height:1.3; margin-top:10px; margin-bottom:0.1px }
h2:first-child { margin-top:0px }
h3 { color:#7d9197; font-family:Lato, sans-serif; font-weight: 700; font-size:14px; word-spacing:1.68px; line-height:1.3; margin-top:0px; margin-bottom:10px }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.reduce { line-height:0; margin-top:0px; margin-bottom:0.1px }
.main-content { color:#4c4c4c; font-family:Lato,sans-serif; font-weight: 300; font-size:17px; word-spacing:2.04px; line-height:1.75; margin-top:0px }
.footer { color:#4b595d; font-family:Lato,sans-serif; font-weight: 300; font-size:18px; text-align:right }
.main-title { color:#fff; font-family:Lato, sans-serif; font-weight: 900; font-size:44px; text-align:center }
.small-title { color:#fff; font-family:Lato, sans-serif; font-weight: 900; font-size:22px; text-align:center }
.navigation { font-family:Lato,sans-serif; font-weight: 300; font-size:20px; letter-spacing:0.4px; word-spacing:2.4px; line-height:1.6 }
.form-labels { color:#4b595d; font-family:Lato, sans-serif; font-weight: 700; font-size:17px; word-spacing:2.04px; line-height:1.6; margin-top:0px; margin-bottom:4px }
.form-fields { color:#4b595d; font-size:16px }
.form-button { color:#fff; font-family:Lato, sans-serif; font-weight: 700; font-size:18px }
