body { margin:0px; background-color:#fbfbf9; height:100% }
html { height:100% }
a:link { color:#f64b79; text-decoration:none }
a:visited { color:#4fc3a0; text-decoration:none }
a:hover { color:#4bccf6; text-decoration:none }
a:active { color:#59dcb5; text-decoration:none }
#PageDiv { position:relative; min-height:100% }
#web { width:60%; float:left; margin-right:20px; margin-bottom:20px }
#nav { height:auto; overflow:visible; position:relative; z-index:9999 }
#fwNav1 { float:left; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { position:relative; width:300px; *vertical-align:bottom; margin:0; padding:0; border-left:0; border-right:0 }
#fwNav1 .fwNavItem a { display:block; color:#FBFBF9; text-decoration:none; background:#47565A; padding:15px 30px 15px 30px }
#fwNav1 .fwFirstChild { border-top:0 }
#fwNav1 .fwLastChild { border-bottom:0 }
#fwNav1 .fwNavItem:hover > span a, #fwNav1 .fwNavItem:hover > a { color:#4C4C4C; text-decoration:none; background:#59DCB5 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#4C4C4C; text-decoration:none; background:#59DCB5 }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-white.svg'); background-repeat:no-repeat; background-size:100% }
#fwNav1 * .sub { visibility:hidden; position:absolute; top:-0; left:100%; float:left; padding:0; margin:0; list-style:none; z-index:1 }
#fwNav1 .fwFirstList { top:-0 }
#fwNav1 .sub * .sub { top:-0 }
#fwNav1 .fwNavItem .sub .fwNavItem { display:block; margin:0; padding:0; left:0; width:300px; border-left:0; border-right:0 }
#fwNav1 * * * .sub { left:100%; top:-0 }
#fwNav1 .fwNavItem .sub .fwNavItem a { display:block; color:#FBFBF9; text-decoration:none; background:#47565A; padding:15px 30px 15px 30px }
#fwNav1 .fwNavItem .sub .fwFirstChild { border-top:0 }
#fwNav1 .fwNavItem .sub .fwLastChild { border-bottom:0 }
#fwNav1 .fwNavItem .sub .fwNavItem:hover > span a, #fwNav1 .fwNavItem .sub .fwNavItem:hover > a { color:#4C4C4C; text-decoration:none; background:#59DCB5 }
#fwNav1 .fwNavItem .sub .fwNavItem a:hover, #fwNav1 .fwNavItem .sub .fwNavItem span a:hover, #fwNav1 .fwNavItem .sub .fwNavItem a:focus { color:#4C4C4C; text-decoration:none; background:#59DCB5 }
#fwNav1 :hover > .sub { visibility:visible }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; background:#54D0AA; font-weight:normal }
#fwNav1 .fwNavItem .sub .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem .sub .fwNavItem a.fwCurrent:hover { display:block; color:#FFFFFF; font-weight:normal; background:#54D0AA }
@media screen and (max-width:1600px)
{
	#web { width:100%; margin-right:0px }
}
@media screen and (max-width:1200px)
{
	#web { margin-bottom:14px }
}
@media screen and (max-width:768px)
{
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNavContainer1 { display:none; position:fixed; width:100%; top:0; right:100%; bottom:0; left:0; margin-left:-100%; background-color:#FFFFFF; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out margin, .2s ease-out right; -moz-transition:.2s ease-out margin, .2s ease-out right; -ms-transition:.2s ease-out margin, .2s ease-out right; -o-transition:.2s ease-out margin, .2s ease-out right; transition:.2s ease-out margin, .2s ease-out right }
	.fwNav1-toggle-close { margin:47px 10px 5px 8px }
	.fwNavContainer1.fwMenuOn { margin-left:0; right:0 }
	#fwNav1 .fwNavItem .sub .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-right:10px; padding-left:20px }
	#fwNav1 .fwNavItem .sub .sub .fwNavItem a { padding-left:30px }
	#fwNav1 .fwNavItem .sub .sub .sub .fwNavItem a { padding-left:40px }
	#fwNav1 .fwNavItem .sub { position:relative; visibility:visible; width:100%; left:0; top:0 }
	#fwNav1 .fwNavItem .sub .fwNavItem { width:100% }
	#fwNav1 .fwNavItem .sub .sub { left:0 }
	#fwNav1 .fwNavItem .sub .sub .fwNavItem { border-left:none }
	.fwMainPointer1, .fwSubPointer1 { display:none }
	#fwNav1 .fwNavItem .sub .fwLastChild { border-bottom:none }
	#fwNav1 .fwLastChild .sub .fwLastChild { border-bottom:0 }
}
