<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<meta charset="UTF-8">
<title>Softpress Marketplace – Buy Freeway templates</title>
<meta name="viewport" content="width = device-width, initial-scale = 1.00, minimum-scale = 0.25, maximum-scale = 1.60">
<meta name="description" content="Purchase responsive templates for Freeway 7 Pro for just $25 each or 8 for $100">
<meta property="og:type" content="website">
<meta property="og:title" content="Softpress Marketplace – Buy Freeway ">
<meta property="og:description" content="Purchase responsive templates for Freeway 7 Pro for just $25 each or 8 for $100">
<meta property="og:image" content="http://marketplace.softpress.com/Resources/All-templates-ipad.jpg">
<meta property="og:site_name" content="Softpress Marketplace">
<meta property="og:url" content="http://marketplace.softpress.com/index.html">
<meta property="fb:admins" content="591830090">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Softpress Marketplace – Buy Freeway templates">
<meta name="twitter:description" content="Purchase responsive templates for Freeway 7 Pro for just $25 each or 8 for $100">
<meta name="twitter:image" content="http://marketplace.softpress.com/Resources/All-templates-ipad.jpg">
<meta name="twitter:url" content="http://marketplace.softpress.com/index.html">
<meta name="twitter:creator" content="@softpress">
<meta name="twitter:site" content="@softpress">
<link rel=stylesheet href="css/main.css">
<link rel=stylesheet href="css/index.css">
<link rel=stylesheet href="css/sheet1.css">
<!--[if lt IE 9]>
<script src="Resources/html5shiv.js"></script>
<![endif]-->
<link href='https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
	Paddle.Setup({
		vendor: 8556
	});
</script>
</head>
<body>
<div id="PageDiv" class="f-cf">
	<header id="header" class="f-cf tbg"><div id="header-center" class="f-cf"><div id="softpress" class="f-ms"><img src="Resources/softpress.png" width=124 height=37 alt="Softpress" style="position:relative; left:6px; float:left">
			</div>
			<nav id="nav" class="nav f-ms"><input type="checkbox" id="fwNav1-toggle">
				<label for="fwNav1-toggle" class="fwNav1-toggle-label"></label>
				<div class="fwNavContainer1">
					<label for="fwNav1-toggle" class="fwNav1-toggle-label fwNav1-toggle-close"></label>
					<ul class="f-fp f-lp" id="fwNav1">
						<li class="fwFirstChild fwNavItem"><a href="http://www.softpress.com/freeway-pro/">Freeway</a></li>
						<li class="fwNavItem"><a href="https://www.softpress.com/chroma/">Chroma</a></li>
						<li class="fwNavItem"><a href="https://www.softpress.com/exhibeo/">Exhibeo</a></li>
						<li class="fwNavItem"><a href="http://www.softpress.com/freeway-express/">Freeway Express</a></li>
						<li class="fwNavItem"><a href="#nil"  class="fwCurrent" class="fwCurrent">Marketplace</a></li>
						<li class="fwLastChild fwNavItem"><a href="http://www.softpress.com/help/">Support</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<div id="content" class="f-cf"><div id="content-center" class="f-cf"><div id="intro" class="f-cf">
				<h1 class="main">Softpress Marketplace</h1>
				<h2 class="center"><span class="style10">Th</span>e web’s finest selection of templates for <a href="http://www.softpress.com/freeway-pro/">Freeway</a>. Now available for <a href="http://www.softpress.com/freeway-express/" title="Find out more about Freeway Express">Freeway Express</a>.</h2>
				<p class="intro-home">All templates are completely customizable. Change styles, colors, images, layout, typography, everything.<br>Freeway Pro templates are fully responsive and mobile-friendly.</p>
				<div id="tabs" class="f-cf">
					
					<h2 class="center"><span class="style7">Choose your version</span></h2>
					<a id="pro" href="#pro" data-object="tab" data-toggle="on" data-type="pro"><p class="cta f-fp f-lp">Freeway 7</p>
					</a>
					<a id="express" href="#express" data-object="tab" data-toggle="off" data-type="express"><p class="cta f-fp f-lp">Freeway Express</p>
					</a>
				</div>
			</div>
		</div>
		<div id="templates" class="f-cf row templates pro" data-object="tab" data-toggle="on" data-type="pro"><div id="pack2" class="f-cf">
				<div id="pack2-text" class="f-cf"><h3 class="home">Pack 2</h3>
				</div>
				<a id="purchase-pack2" href="https://pay.paddle.com/checkout/502232" class="paddle_button" data-product="502232" data-theme="none" title="Buy Freeway Template Pack #2"><p class="cta f-fp f-lp">Purchase all 8 for <strong class="paddle-gross" data-product="502232">$79.20</strong></p>
				</a>
				<div id="estate-wrap" class="f-cf">
					<a id="estate" href="templates/estate/"><img id="estate-image" src="Resources/estate-all.jpg" alt="estate-image">
						<div id="estate-cap" class="caption caption"><h2><span class="captiontext">Estate</span></h2>
						</div>
					</a>
				</div>
				<div id="homeshop-wrap" class="f-cf">
					<a id="homeshop" href="templates/homeshop/"><img id="homeshop-image" src="Resources/homeshop-all.jpg" alt="homeshop-image">
						<div id="homeshop-cap" class="caption caption"><h2><span class="captiontext">Homeshop</span></h2>
						</div>
					</a>
				</div>
				<div id="macro-wrap" class="f-cf">
					<a id="macro" href="templates/macro/"><img id="macro-image" src="Resources/macro-all.jpg" alt="macro-image">
						<div id="macro-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Macro</span></h2>
						</div>
					</a>
				</div>
				<div id="portfolio-wrap1" class="f-cf">
					<a id="portfolio" href="templates/portfolio/"><img id="portfolio-image" src="Resources/portfolio-all.jpg" alt="portfolio-image">
						<div id="portfolio-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Portfolio</span></h2>
						</div>
					</a>
				</div>
				<div id="retro-wrap1" class="f-cf">
					<a id="retrod" href="templates/retrod/"><img id="retrod-image" src="Resources/retrod-all.jpg" alt="retrod-image">
						<div id="retrod-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Retro’d</span></h2>
						</div>
					</a>
				</div>
				<div id="serenity-wrap" class="f-cf">
					<a id="serenity" href="templates/serenity/"><img id="serenity-image" src="Resources/serenity-all.jpg" alt="serenity-image">
						<div id="serenity-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Serenity</span></h2>
						</div>
					</a>
				</div>
				<div id="snapper-wrap" class="f-cf">
					<a id="snapper" href="templates/snapper/"><img id="snapperimage" src="Resources/snapper-all.jpg" alt="snapperimage">
						<div id="snapper-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Snapper</span></h2>
						</div>
					</a>
				</div>
				<div id="theband-wrap" class="f-cf">
					<a id="theband" href="templates/theband/"><img id="theband-image" src="Resources/theband-all.jpg" alt="theband-image">
						<div id="theband-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">TheBand</span></h2>
						</div>
					</a>
				</div>
			</div>
			<div id="pack1" class="f-cf">
				<div id="pack1-text" class="f-cf"><h3 class="home">Pack 1</h3>
				</div>
				<a id="purchase-pack1" href="https://pay.paddle.com/checkout/502229" title="Buy Freeway Pro Template Pack #1" class="paddle_button" data-product="502229" data-theme="none"><p class="cta f-fp f-lp">Purchase all 8 for <strong class="paddle-gross" data-product="502229">$79.20</strong></p>
				</a>
				<div id="assistant-wrap" class="f-cf">
					<a id="assistant" href="templates/assistant/"><img id="assistant-image" src="Resources/assistant-all.jpg" alt="assistant-image">
						<div id="assistant-cap" class="caption caption"><h2><span class="captiontext">Assistant</span></h2>
						</div>
					</a>
				</div>
				<div id="cuisine-wrap" class="f-cf">
					<a id="cuisine" href="templates/cuisine/"><img id="cuisinea-image" src="Resources/cuisine-all.jpg" alt="cuisinea-image">
						<div id="cuisine-cap" class="caption caption"><h2><span class="captiontext">Cuisine</span></h2>
						</div>
					</a>
				</div>
				<div id="fleet-wrap" class="f-cf">
					<a id="fleet" href="templates/fleet/"><img id="fleetimage" src="Resources/fleet-all.jpg" alt="fleetimage">
						<div id="fleet-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Fleet</span></h2>
						</div>
					</a>
				</div>
				<div id="floral-wrap" class="f-cf">
					<a id="floral" href="templates/floral/"><img id="floralimage" src="Resources/floral-all.jpg" alt="floralimage">
						<div id="floral-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Floral</span></h2>
						</div>
					</a>
				</div>
				<div id="health-wrap" class="f-cf">
					<a id="health" href="templates/health/"><img id="health-image" src="Resources/health-all.jpg" alt="health-image">
						<div id="health-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Health</span></h2>
						</div>
					</a>
				</div>
				<div id="secondsight-wrap" class="f-cf">
					<a id="secondsight" href="templates/secondsight/"><img id="secondsight-image" src="Resources/secondsight-all.jpg" alt="secondsight-image">
						<div id="secondsight-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">SecondSight</span></h2>
						</div>
					</a>
				</div>
				<div id="smile-wrap" class="f-cf">
					<a id="smile" href="templates/smile/"><img id="smile-image" src="Resources/smile-all.jpg" alt="smile-image">
						<div id="smile-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Smile</span></h2>
						</div>
					</a>
				</div>
				<div id="tranquil-wrap" class="f-cf">
					<a id="tranquil" href="templates/tranquil/"><img id="tranquil-image" src="Resources/tranquil-all.jpg" alt="tranquil-image">
						<div id="tranquil-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Tranquil</span></h2>
						</div>
					</a>
				</div>
			</div>
			<div id="pack3" class="f-cf"><div id="pack1-text1" class="f-cf"><h3 class="home">Free</h3>
					<p class="intro">Mailing list subscribers get this template free with any other Freeway 7 template (you can subscribe when purchasing).<br>Don't want to subscribe? No problem — Esperanto is now available for purchase.</p>
				</div>
				<div id="esperanto-wrap" class="f-cf">
					<a id="esperanto" href="templates/esperanto/" title="Freeway for mailing list subscribers with any template purchase"><img id="esperanto-image" src="Resources/esperanto-all.jpg" alt="esperanto-image">
						<div id="esperanto-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Esperanto</span></h2>
						</div>
						<div id="esperanto-label" class="indicator"><h2 class="style2 f-fp">FREE*</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div id="templates1" class="f-cf row templates" data-object="tab" data-toggle="off" data-type="express"><div id="pack4" class="f-cf">
				<div id="pack2-text1" class="f-cf"><h3 class="home">Express Pack</h3>
				</div>
				<a id="purchase-pack3" href="https://pay.paddle.com/checkout/502230" title="Buy Freeway Express Template Pack" class="paddle_button" data-product="502230" data-theme="none"><p class="cta f-fp f-lp">Purchase all 12 for <strong class="paddle-gross" data-product="502230">$31.20</strong></p>
				</a>
				<div id="assistant-express-wrap" class="f-cf">
					<a id="assistant-express" href="templates/assistant-express/"><div id="assistant-express-cap" class="caption caption"><h2><span class="captiontext">Assistant</span></h2>
						</div>
					</a>
				</div>
				<div id="estate-wrap1" class="f-cf">
					<a id="estate-express" href="templates/estate-express/"><div id="estate-cap1" class="caption caption"><h2><span class="captiontext">Estate</span></h2>
						</div>
					</a>
				</div>
				<div id="fleet-express-wrap" class="f-cf">
					<a id="fleet-express" href="templates/fleet-express/"><div id="fleet-express-cap" class="caption caption"><h2><span class="captiontext">Fleet</span></h2>
						</div>
					</a>
				</div>
				<div id="floral-wrap1" class="f-cf">
					<a id="floral-express" href="templates/floral-express/"><div id="floral-cap2" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Floral</span></h2>
						</div>
					</a>
				</div>
				<div id="health-wrap2" class="f-cf">
					<a id="health-express" href="templates/health-express/"><div id="health-cap1" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Health</span></h2>
						</div>
					</a>
				</div>
				<div id="homestyle-wrap" class="f-cf">
					<a id="homestyle-express" href="templates/homestyle-express/"><div id="homestyle-cap" class="caption caption"><h2><span class="captiontext">Homestyle</span></h2>
						</div>
					</a>
				</div>
				<div id="secondsight-wrap1" class="f-cf">
					<a id="secondsight-express" href="templates/secondsight-express/"><div id="secondsight-cap1" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">SecondSight</span></h2>
						</div>
					</a>
				</div>
				<div id="secondsight-wrap2" class="f-cf">
					<a id="serenity1" href="templates/serenity-express/"><div id="serenity-cap1" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Serenity</span></h2>
						</div>
					</a>
				</div>
				<div id="smile-express-wrap" class="f-cf">
					<a id="smile-express" href="templates/smile-express/"><div id="smile-express-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Smile</span></h2>
						</div>
					</a>
				</div>
				<div id="snapper-wrap1" class="f-cf">
					<a id="snapper-express" href="templates/snapper-express/"><div id="snapper-cap1" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Snapper</span></h2>
						</div>
					</a>
				</div>
				<div id="theband-wrap1" class="f-cf">
					<a id="theband-express" href="templates/theband-express/"><div id="theband-cap1" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">TheBand</span></h2>
						</div>
					</a>
				</div>
				<div id="tranquil-express-wrap" class="f-cf">
					<a id="tranquil-express" href="templates/tranquil-express/"><div id="tranquil-express-cap" class="caption caption"><h2 class="style2 f-fp"><span class="captiontext">Tranquil</span></h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<footer id="footer" class="f-cf f-ms"><p class="center f-fp f-lp"><span class="footer"><img id="softpress1" class="f-ms" src="Resources/softpress1.png" alt="softpress1"><img id="made-in-GB" class="f-ms" src="Resources/made-in-gb.png" alt="made-in-GB">&nbsp;</span></p>
		</footer>
	</div>
</div>
<script src="Resources/gyro.min.js"></script>
<script>
function left(e) {
    var t = window.innerHeight < window.innerWidth,
        n = window.innerHeight > window.innerWidth,
        o = document.querySelectorAll(".templates.pro > div > div > a");
    if (n && e.x > .75 || t && e.y > 1)
        for (var i = 0; i < o.length; i++) o[i].classList.add("mob"), o[i].classList.remove("tab")
}

function right(e) {
    var t = window.innerHeight < window.innerWidth,
        n = window.innerHeight > window.innerWidth,
        o = document.querySelectorAll(".templates.pro > div > div > a");
    if (n && e.x < -.75 || t && e.y < -1)
        for (var i = 0; i < o.length; i++) o[i].classList.add("tab"), o[i].classList.remove("mob")
}

function center(e) {
    var t = window.innerHeight < window.innerWidth,
        n = window.innerHeight > window.innerWidth,
        o = document.querySelectorAll(".templates.pro > div > div > a");
    if (n && e.x < .75 || t && e.y < 1 && n && e.x > -.75 || t && e.y > -1)
        for (var i = 0; i < o.length; i++) o[i].classList.remove("mob", "tab")
}

function getPosition(e) {
    for (var t = 0, n = 0; e;) t += e.offsetLeft + e.clientLeft, n += e.offsetTop + e.clientTop, e = e.offsetParent;
    return {
        x: t,
        y: n
    }
}

function scroll(e, t) {
    function n() {
        setTimeout(function() {
            window.scrollY < r && (requestAnimationFrame(n), d += 1, o = s - s * Math.cos(d * a), window.scrollTo(0, i - o))
        }, 15)
    }
    var o, i = window.scrollY,
        r = getPosition(document.getElementById(e)).y - 30,
        a = Math.PI / (t / 15),
        s = -r,
        d = 0;
    requestAnimationFrame(n)
}

function fwAddListener(e, t, n) {
    e.addEventListener ? e.addEventListener(t, n) : e.attachEvent && e.attachEvent("on" + t, n)
}
gyro.startTracking(function(e) {
    null === e.x && gyro.stopTracking(); {
        var t = window.innerHeight < window.innerWidth,
            n = window.innerHeight > window.innerWidth;
        document.querySelectorAll(".templates.pro > div > div > a")
    }
    n && e.x > 1 || t && e.y > 1.25 ? setTimeout(function() {
        left(e)
    }, 100) : n && e.x < -1 || t && e.y < -1.25 ? setTimeout(function() {
        right(e)
    }, 100) : setTimeout(function() {
        center(e)
    }, 100)
}),
function() {
    var e = document.querySelectorAll("a[data-object='tab']"),
        t = document.querySelectorAll(".templates.pro > div > div > a");
    if ("express" == window.location.hash.substring(1)) {
        var n = document.getElementById("express");
        if (n.dataset.toggle = "off") {
            for (var o = document.querySelectorAll("*[data-toggle='on']"), i = document.querySelectorAll("*[data-type='" + n.dataset.type + "']"), r = 0; r < o.length; r++) o[r].dataset.toggle = "off";
            for (r = 0; r < i.length; r++) i[r].dataset.toggle = "on"
        }
    }
    for (var a = 0; a < e.length; a++) fwAddListener(e[a], "click", function(e) {
        if (e.preventDefault(), this.dataset.toggle = "off") {
            for (var e = document.querySelectorAll("*[data-toggle='on']"), t = document.querySelectorAll("*[data-type='" + this.dataset.type + "']"), n = 0; n < e.length; n++) e[n].dataset.toggle = "off";
            for (n = 0; n < t.length; n++) t[n].dataset.toggle = "on";
            scroll("tabs", 500)
        }
    });
    for (a = 0; a < t.length; a++) {
        var s = document.createElement("span"),
            d = document.createElement("span"),
            l = document.createElement("span");
        s.classList.add("left"), s.classList.add("center"), l.classList.add("right"), t[a].appendChild(s), t[a].appendChild(d), t[a].appendChild(l), temp = t[a],
        function(e) {
            fwAddListener(s, "mouseover", function() {
                e.classList.add("mob"), e.classList.remove("tab")
            }), fwAddListener(l, "mouseover", function() {
                e.classList.remove("mob"), e.classList.add("tab")
            }), fwAddListener(d, "mouseover", function() {
                e.classList.remove("mob"), e.classList.remove("tab")
            }), fwAddListener(e, "mouseout", function() {
                e.classList.remove("mob"), e.classList.remove("tab")
            })
        }(temp)
    }
}();
</script>
<script src="Resources/fwResponsiveMenus.js"></script>
<script type="text/javascript">//<![CDATA[

fwShowHideMenu("nav", 930);
fwAddListener(document.getElementById("fwNav1-toggle"), "click", function(){
	fwToggleMenu(this);
});
fwAddListener(window, "resize", function() {
    fwShowHideMenu("nav", 930);
});

//]]></script></body>
</html>
