#submenu1, #submenu1.f-ms { overflow: hidden; position: static; z-index: auto; left: auto; top: auto }
#submenu2, #submenu2.f-ms { overflow: hidden; position: static; z-index: auto; left: auto; top: auto }
#submenu3, #submenu3.f-ms { overflow: hidden; position: static; z-index: auto; left: auto; top: auto }
