body { margin:0px; background-color:#313040; height:100% }
html { height:100% }
a:link { color:#008048; text-decoration:underline }
a:visited { color:#008048; text-decoration:underline }
a:hover { color:#57bf7c; text-decoration:underline }
a:active { color:#57bf7c; text-decoration:underline }
#FooterBox1 a:link { color:#ccc; text-decoration:none }
#FooterBox1 a:visited { color:#ccc; text-decoration:none }
#FooterBox1 a:hover { color:#008048; text-decoration:none }
#FooterBox1 a:active { color:#008048; text-decoration:none }
#BackToTop a:link { color:#ccc; text-decoration:none }
#BackToTop a:visited { color:#ccc; text-decoration:none }
#BackToTop a:hover { color:#008048; text-decoration:none }
#BackToTop a:active { color:#008048; text-decoration:none }
#PageDiv { position:relative; min-height:100% }
#BodyWrapper1 { position:relative; width:100%; height:525px; z-index:0; clear:both; margin-left:auto; margin-right:auto; background-color:#fff; border-bottom:solid #f5f5f5 3px }
#InitialImage1 { position:absolute; left:0px; top:0px; width:100%; min-height:525px; z-index:1; background-image:url(../Resources/picjumbo.com_img_.jpg); background-position:left; background-repeat:no-repeat; background-size:cover }
#Image3 { position:absolute; left:0px; top:0px; width:100%; min-height:525px; z-index:2; background-image:url(../Resources/picjumbo.com_img_1.jpg); background-position:left; background-repeat:no-repeat; background-size:cover }
#Image2 { position:absolute; left:0px; top:0px; width:100%; min-height:525px; z-index:3; background-image:url(../Resources/picjumbo.com_img_2.jpg); background-position:left; background-repeat:no-repeat; background-size:cover }
#Image1 { position:absolute; left:0px; top:0px; width:100%; min-height:525px; z-index:4; background-image:url(../Resources/picjumbo.com_img_.jpg); background-position:left; background-repeat:no-repeat; background-size:cover }
#BodyWrapper2 { width:100%; z-index:0; margin-left:auto; margin-right:auto; background-color:#e6e6e6; border-bottom:solid #f5f5f5 3px }
#Box1 { width:26%; z-index:0; float:left; clear:left; padding-top:10px; padding-bottom:10px; margin-left:5% }
#ImageWrapper { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#check { width:64px; overflow:hidden }
#TitleWrapper { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box2 { width:26%; z-index:0; float:left; padding-top:10px; padding-bottom:10px; margin-left:6% }
#ImageWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#key { width:64px; overflow:hidden }
#TitleWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper1 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box3 { width:26%; z-index:0; float:left; clear:right; padding-top:10px; padding-bottom:10px; margin-left:6%; margin-right:5% }
#ImageWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#clock { width:64px; overflow:hidden }
#TitleWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper2 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box4 { width:18%; z-index:0; float:left; clear:left; padding-top:10px; padding-bottom:10px; margin-left:5% }
#ImageWrapper3 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#profle { width:64px; overflow:hidden }
#TitleWrapper3 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper3 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box5 { width:18%; z-index:0; float:left; padding-top:10px; padding-bottom:10px; margin-left:6% }
#ImageWrapper4 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#pencil { width:64px; overflow:hidden }
#TitleWrapper4 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper4 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box6 { width:18%; z-index:0; float:left; padding-top:10px; padding-bottom:10px; margin-left:6% }
#ImageWrapper5 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#global { width:64px; overflow:hidden }
#TitleWrapper5 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper5 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#Box7 { width:18%; z-index:0; float:left; clear:right; padding-top:10px; padding-bottom:10px; margin-left:6%; margin-right:5% }
#ImageWrapper6 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#phone { width:64px; overflow:hidden }
#TitleWrapper6 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#TextWrapper6 { width:100%; z-index:0; clear:both; padding-top:10px; padding-bottom:10px; margin-left:auto; margin-right:auto }
#CSSMenu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#313040; text-decoration:none; padding:8px 8px 8px 8px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#008048; text-decoration:none }
#fwNav1 .fwNavItem a:active { color:#008048; text-decoration:none }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-black.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#57BF7C; font-weight:normal }
@media screen and (max-width:768px)
{
	#InitialImage1 { background-position:center }
	#Image3 { background-position:center }
	#Image2 { background-position:center }
	#Image1 { background-position:center }
	#Box4 { width:45%; margin-left:0px }
	#Box5 { width:45%; float:right; clear:right; margin-left:0px }
	#Box6 { width:45%; clear:left; margin-left:0px; margin-top:5% }
	#Box7 { width:45%; float:right; margin-left:0px; margin-top:5%; margin-right:0px }
}
@media screen and (max-width:568px)
{
	.fwNavContainer1 { display:none; position:fixed; width:100%; left:0; right:0; top:0; bottom:0; background-color:#F5F5F5; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out -webkit-transform; -moz-transition:.2s ease-out -moz-transform; -ms-transition:.2s ease-out -ms-transform; -o-transition:.2s ease-out -o-transform; transition:.2s ease-out transform; -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0) }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { background-image:url('../Resources/menu-close-black.png'); margin:20px auto 20px auto }
	#fwNav1-toggle:checked ~ .fwNavContainer1 { font-size:1em; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}
@media screen and (max-width:480px)
{
	#Box1 { width:90%; clear:both; margin-right:5% }
	#Box2 { width:90%; clear:both; margin-left:5%; margin-top:5%; margin-right:5% }
	#Box3 { width:90%; clear:both; margin-left:5%; margin-top:5% }
	#Box4 { width:90%; clear:both; margin-left:5%; margin-right:5% }
	#Box5 { width:90%; clear:both; margin-left:5%; margin-top:5%; margin-right:5% }
	#Box6 { width:90%; clear:both; margin-left:5%; margin-right:5% }
	#Box7 { width:90%; margin-left:5%; margin-right:5% }
}
