body { margin:0px; background-color:#e74c3c; height:100% }
html { height:100% }
a:link { color:#e74c3c; text-decoration:underline }
a:visited { color:#c0392b; text-decoration:underline }
a:hover { color:#c0392b; text-decoration:underline }
a:active { color:#c0392b; text-decoration:underline }
#PageDiv { position:relative; min-height:100% }
#Content4 { width:100%; z-index:0; float:left; padding-top:6% }
#FormWrapper { width:96%; z-index:0; float:left; padding:2%; margin-bottom:20px }
#NAME { width:38.4%; padding:1%; background-color:#fafafa; border:solid #c0392b 2px }
#SUBJECT { width:38.4%; padding:1%; margin-left:1%; background-color:#fafafa; border:solid #c0392b 2px }
#EMAIL { width:38.4%; padding:1%; margin-top:2%; background-color:#fafafa; border:solid #c0392b 2px }
#PHONE { width:38.4%; padding:1%; margin-left:1%; margin-top:2%; background-color:#fafafa; border:solid #c0392b 2px }
#MESSAGE { width:80.4%; height:70px; padding:1%; margin-top:2%; background-color:#fafafa; border:solid #c0392b 2px }
#SEND1 { width:48%; padding:1%; margin-top:2%; background-color:#c0392b; border:solid #c0392b 2px }
#item2 { max-width:99%; overflow:hidden }
#Menu { height:auto; overflow:visible; position:relative }
.fwNavContainer1 { float:right; position:relative; right:50% }
#fwNav1 { position:relative; display:block; left:50%; padding:0; margin:0; list-style:none }
#fwNav1 .fwNavItem { width:auto; position:relative; float:left; margin:0; padding:0; border-top:0; border-bottom:0 }
#fwNav1 .fwNavItem a { display:block; color:#FFFFFF; text-decoration:none; padding:25px 20px 25px 20px }
#fwNav1 .fwFirstChild { border-left:0 }
#fwNav1 .fwLastChild { border-right:0 }
#fwNav1 .fwNavItem a:hover, #fwNav1 .fwNavItem span a:hover, #fwNav1 .fwNavItem a:focus { color:#C0392B; text-decoration:none }
#fwNav1 .fwNavItem a:active { color:#C0392B; text-decoration:none }
#fwNav1-toggle, .fwNav1-toggle-label { display:none }
.fwNav1-toggle-label { width:30px; height:30px; overflow:hidden; background-image:url('../Resources/menu-1-black.png'); background-repeat:no-repeat; background-size:100%; margin-left:auto; margin-right:auto }
#fwNav1 .fwNavItem a.fwCurrent, #fwNav1 .fwNavItem a.fwCurrent:hover { display:block; color:#333333; font-weight:normal }
@media screen and (max-width:768px)
{
	.fwNavContainer1 { display:none; position:fixed; width:100%; top:0; right:0; bottom:100%; left:0; margin-top:-100%; background-color:#95A5A6; -webkit-overflow-scrolling:touch; overflow:auto; float:none; -webkit-transition:.2s ease-out margin, .2s ease-out bottom; -moz-transition:.2s ease-out margin, .2s ease-out bottom; -ms-transition:.2s ease-out margin, .2s ease-out bottom; -o-transition:.2s ease-out margin, .2s ease-out bottom; transition:.2s ease-out margin, .2s ease-out bottom }
	#fwNav1 { width:100%; right:0; left:0; margin-top:0px }
	#fwNav1 .fwNavItem { box-sizing:border-box; float:none; overflow:hidden; width:100%; border-right:0; border-left:0 }
	#fwNav1 .fwNavItem a { padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px }
	#fwNav1 .fwFirstChild { border-top:0 }
	#fwNav1 .fwLastChild { border-bottom:0 }
	.fwNav1-toggle-label { display:block; position:relative; cursor:pointer; -webkit-touch-callout:none; -webkit-user-select:none; user-select:none }
	.fwNav1-toggle-close { background-image:url('../Resources/menu-close-black.png'); margin:20px auto 20px auto }
	.fwNavContainer1.fwMenuOn { margin-top:0; bottom:0 }
}
@media screen and (max-width:667px)
{
	#NAME { width:95% }
	#SUBJECT { width:95%; margin-left:0px; margin-top:2% }
	#EMAIL { width:95% }
	#PHONE { width:95% }
	#MESSAGE { width:95% }
}
