form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
.f-cf:before,.f-cf:after { content:" "; display:table }
.f-cf { _zoom:1 }
.f-cf:after { clear:both }
em { font-style:italic }
h1 { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:40px; margin-top:2px; margin-bottom:-5px; font-weight:normal }
h1:first-child { margin-top:0px }
h2 { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:32px; font-weight:normal }
h2:first-child { margin-top:0px }
h3 { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:26px; font-weight:normal }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.BigTitleCENTER { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:85px; text-align:center; margin-top:2px; margin-bottom:-5px }
.BigSubtitle { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:20px; text-align:center; margin-top:0px; margin-bottom:0.1px }
.CSSMenu { font-family:'Lilita One', Helvetica, san-serif; font-size:18px; text-align:center }
.PageContent { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:18px }
h1.center { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:20px; text-align:center; margin-top:2px; margin-bottom:-5px; font-weight:normal }
h1:first-child { margin-top:0px }
.FullWidthBackground { background-size:cover }
h2.center { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:30px; text-align:center; font-weight:normal }
h2:first-child { margin-top:0px }
h3.center { color:#fff; font-family:'Lilita One', Helvetica, san-serif; font-size:26px; text-align:center; font-weight:normal }
h3:first-child { margin-top:0px }
.CenterAlign { text-align:center }
.Size20 { font-size:20px }
.BlockQuote { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-style:italic; font-size:14px; background-color:#4e8be6; margin-left:20px; padding:10px; border:1px solid #ffffff }
.ContactForm { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:14px }
.FormItem { color:#000; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:16px; text-align:left }
.PageContentCENTER { color:#fff; font-family:'Open Sans', Helvetica, sans-serif; font-weight: 300; font-size:16px; text-align:center }
