form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
em { font-style:italic }
h1 { color:#b3b3b3; font-family:Roboto, sans-serif; font-weight: 500 !important; font-size:22px; word-spacing:2.64px; line-height:1.75; margin-top:0px; margin-bottom:0.1px }
h1:first-child { margin-top:0px }
h2 { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 500 !important; font-size:18px; word-spacing:2.16px; line-height:1.65; margin-top:0px; margin-bottom:0.1px }
h2:first-child { margin-top:0px }
h3 { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; font-size:16px }
h3:first-child { margin-top:0px }
strong { font-family:Roboto, sans-serif; font-weight: 500 !important; font-weight:bold }
.cover { background-size:cover }
.logo { color:#b3b3b3; font-family:Geostar, cursive; font-size:52px; text-align:center }
.center { text-align:center }
.navigation { font-family:Roboto, sans-serif; font-weight: 300; font-size:16px }
.caption { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; margin-left:23px; margin-right:3px }
.highlight { color:#b3b3b3 }
.prev-button { text-align:left }
.navigation-buttons { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; font-size:28px }
.next-button { text-align:right }
.content { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; font-size:16px; word-spacing:1.92px; line-height:1.75 }
h1.style2 { color:#b3b3b3; font-family:Roboto, sans-serif; font-weight: 500 !important; font-size:22px; word-spacing:2.64px; line-height:1.75; margin-top:0px; margin-bottom:0.1px }
h1:first-child { margin-top:0px }
h2.style2 { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 500 !important; font-size:18px; word-spacing:2.16px; line-height:1.65; margin-top:0px; margin-bottom:0.1px }
h2:first-child { margin-top:0px }
.centered-content { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; font-size:16px; word-spacing:1.92px; line-height:1.75; text-align:center }
.form-field { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 300; font-size:16px }
.form-button { color:#f6f8f7; font-family:Roboto, sans-serif; font-weight: 500 !important; font-size:18px }
