form { margin:0px }
body > form { height:100% }
img { margin:0px; border-style:none }
button { margin:0px; border-style:none; padding:0px; background-color:transparent; vertical-align:top }
table { empty-cells:hide }
td { padding:0px }
.f-sp { font-size:1px; visibility:hidden }
.f-lp { margin-bottom:0px }
.f-fp { margin-top:0px }
em { font-style:italic }
h1 { color:#000; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 700;; font-size:32px; text-align:center }
h1:first-child { margin-top:0px }
h2 { color:#57bf7c; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 400;; font-size:24px; text-align:center }
h2:first-child { margin-top:0px }
h3 { color:#57bf7c; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 400;; font-size:20px; text-align:center }
h3:first-child { margin-top:0px }
strong { font-weight:bold }
.AlignCenter { text-align:center }
.LogoTitle { color:#000; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 700;; font-size:36px; text-transform:uppercase }
.Color3 { color:#57bf7c }
.style2 { color:#57bf7c; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:24px; text-align:center }
.CSSMenu { font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:18px; text-align:center; margin-top:0px; margin-bottom:0.1px }
.TextSize14 { font-size:14px }
.BigSubtitle { color:#008048; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:20px }
.PageContent { color:#000; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:16px; line-height:25px }
.MoreButton { color:#008048; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:16px; background-color:#313040; padding-top:5px; padding-bottom:5px; padding-left:15px; padding-right:15px }
.Footer { color:#ccc; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:16px }
.FullWidthBackground { background-size:cover }
.BlockQuote { color:#fff; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 400;; font-size:14px; background-color:#4c4c4c; margin-left:15px; margin-right:15px; padding:10px; border:#020202 solid 1px }
.BigTitle { color:#000; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 700;; font-size:32px; text-align:center }
.PageContentCentre { color:#000; font-family:'Pontano Sans',Helvetica,sans-serif;; font-size:16px; line-height:25px; text-align:center }
.FormItemCenterAlign { color:#000; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 400;; font-size:16px; text-align:center }
.FormItemLeftAlign { color:#000; font-family:'Montserrat',Helvetica,sans-serif; font-weight: 400;; font-size:16px }
